/* :root {
  --bg-primary: #ffffff;
  --text-primary: #333333;
  --text-secondary: #555555;
  --text-disabled: #8c8c8c;
} */

.theme-default {
  --bg-primary: #ffffff;
  --text-primary: #333333;
  --text-secondary: #7d7d7d;
  --text-disabled: #8c8c8c;
}

.theme-light-blue {
  --bg-primary: #87a3ff;
  --text-primary: #333333;
  --text-secondary: #7d7d7d;
  --text-disabled: #8c8c8c;
}

/* Dark theme */
.theme-dark {
  --bg-primary: #151515;
  --text-primary: #f1f1f1;
  --text-secondary: #b0b0b0;
  --text-disabled: #7a7a7a;
  /* ... other variables for the dark theme */
}
